
/* formatting */
.entry {
  line-break: anywhere;
}

/* spacing */
.entry {
  margin-bottom: 1em;
}

/* visual separation of entries */
.entry {
  border-top: 1px solid black;
}

/* old standards fixes */
html, body {
  padding: 0;
  margin: 0;
}

/* iframe size */
iframe {
  width: 95vw;
  height: 55vw;
}

pre { white-space: pre-wrap; }
